{% extends 'base.html.twig' %}

{% block body %}
    {% if error is defined and error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <nav style="top: 5rem;" class="absolute left-5 flex dark:text-white dark:bg-gray-900 " aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
                <a href="{{ path('dashboard') }}" class="inline-flex items-center text-sm font-medium hover:text-gray-70">
                    <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                    {{ 'header.main'|trans }}
                </a>
            </li>
            <li>
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <a href="{{ path('annonces') }}" class="ml-1 text-sm font-medium hover:text-gray-700  md:ml-2 ">{{ 'route.all.all'|trans }}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center">
                    <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <a href="{{ path('afficher_annonce',  {'id': annonce.id}) }}" class="ml-1 text-sm font-medium hover:text-gray-700  md:ml-2 ">{{ 'route.show.show'|trans }} : {{ annonce.villeDepart }} - {{ annonce.villeArrive }}</a>
                </div>
            </li>
        </ol>
    </nav>
    <div class="max-w-lg mx-auto">
        <div class="bg-white shadow p-4 rounded-lg mb-4 dark:text-white dark:bg-gray-800">
            <h2 class="text-2xl font-bold mb-2">{{ annonce.villeDepart }} - {{ annonce.villeArrive }}</h2>
            <p class="dark:text-white dark:bg-gray-800 mb-4">{{ 'route.show.conductor'|trans }} : {{ annonce.conducteur.nom }} {{ annonce.conducteur.prenom }}</p>
            <p class="dark:text-white dark:bg-gray-800 mb-4">{{ 'route.show.price'|trans }} : {{ annonce.prix }} €</p>
            <p class="dark:text-white dark:bg-gray-800 mb-4">{{ 'route.show.car'|trans }} : {{ annonce.modeleV }}</p>
            <p class="dark:text-white dark:bg-gray-800 mb-4">{{ 'route.show.people'|trans }} : {{ annonce.nbplace|number_format(0, '.', '') }}</p>
            <p class="dark:text-white dark:bg-gray-800 mb-4">{{ 'route.show.date'|trans }} : {{ date|date('d/m/Y à H:i') }}</p>
            {% if not old %}
            <div class="mt-4 text-right">
                <!-- Formulaire de réservation -->
                <form action="{{ path('faire_reservation', {'id': annonce.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('reservation') }}">
                    <button type="submit" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{ 'route.show.reserve_it'|trans }}</button>
                </form>
            </div>
            {% endif %}
        </div>

        {% if old %}
            <form class="dark:text-white dark:bg-gray-900 flex" action="{{ path('noter_annonce', { 'id': annonce.id }) }}" method="POST">
                <div class="form-group dark:text-white dark:bg-gray-900">
                    <label class="dark:text-white dark:bg-gray-900" for="note">{{ 'route.show.mark'|trans }} :</label>
                    <input class="w-1/4 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm dark:text-white dark:bg-gray-700" type="number" id="note" name="note" min="1" max="5" required>
                </div>
                <button type="submit" class="ml-4 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{ 'route.show.rate'|trans }}</button>
            </form>
        <div class="bg-white shadow p-4 rounded-lg dark:text-white dark:bg-gray-900">
            <h3 class="text-xl font-bold mb-4">{{ 'route.show.comment'|trans }}</h3>
            <!-- Zone de commentaire -->
            <form class="dark:text-white dark:bg-gray-900" action="{{ path('faire_commentaire',  {'id': annonce.id}) }}" method="POST">
                <textarea name="commentaire[contenu]" class="w-full border-gray-300 dark:text-white dark:bg-gray-800 rounded-lg focus:ring-indigo-500 focus:border-indigo-500"></textarea>
                <input type="hidden" id="commentaire__token" name="commentaire[_token]" value="{{ csrf_token('commentaire') }}">
                <button type="submit" class="mt-4 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{ 'route.show.comment_it'|trans }}</button>
            </form>

            <!-- Liste des commentaires -->
            <div class="mt-4 dark:text-white dark:bg-gray-900">
                {% for commentaire in commentaires %}
                    <div class="relative dark:text-white dark:bg-gray-800 p-2 rounded-lg mb-2">
                        {% if user.id == commentaire.auteur.id or is_granted('ROLE_ADMIN')%}
                        <a href="{{ path('supprimer_commentaire', {'id': commentaire.id}) }}" style="position: absolute; top: 10px; right: -10px;" class="top-4 right-4 text-indigo-500 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                        {% endif %}
                        <p class="dark:text-white dark:bg-gray-800">{{ commentaire.contenu }}</p>
                        <p class="dark:text-white dark:bg-gray-800 text-sm">{{ 'route.show.comment_by'|trans }} {{ commentaire.auteur.nom }} {{ commentaire.auteur.prenom }}</p>
                    </div>




                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="mt-8">
            <h2 class="text-2xl font-bold">{{ 'route.show.reserve'|trans }}</h2>
            {% if reservations is not empty %}
                <ul class="mt-4 space-y-2">
                    {% for reservation in reservations %}
                        <li class="flex items-center">
                            <div class="flex items-center">
                                <div class="h-10 w-10 bg-gray-200 rounded-full flex-shrink-0">
                                    <img class="h-10 w-10 rounded-full" src="{{ asset('images/profil.png') }}" alt="{{ reservation.passager.username }}">
                                </div>
                                <div class="ml-4">
                                    <div class="text-lg font-bold">{{ reservation.passager.username }}</div>
                                    {% if reservation.getOld() %}
                                        <div class="text-sm text-gray-500">{{ 'route.show.old_reserve'|trans }}</div>
                                    {% else %}
                                        <div class="text-sm text-gray-500">{{ 'route.show.new_reserve'|trans }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="mt-4 text-gray-500">{{ 'route.show.no_reserve'|trans }}</p>
            {% endif %}
        </div>

    </div>

{% endblock %}